body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#title{
  background-color: #ff4c68;
  color: white;
}

.title-image{
  width: 60%;
  margin-left: 60px;
  transform: rotate(25deg);
  position: absolute;
}

.container-fluid{
  padding: 3% 15% 8%;

}

.heading-1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  font-stretch: normal;


}
.btn{
  margin-right: 1rem;
  color: white;
}

/* Navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-weight: lighter;
  font-size: 1.2rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


/* Features section */
#features{
  background-color: white;
  position: absolute;
  z-index: 1;
}

.features-row{
  text-align: center;
  margin-right: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 225px;
  padding-right: 225px;
  /* padding: 7% 15%; */
}

.icons{
  color: #ef8172;
  font-size:2em;
  padding-top: 16px;
  padding-bottom: 32px;
}
.icons:hover{
  color: #ff4c68;
}

.features-h3{
  font-family: "Montserrat";
  font-weight: bolder;
  line-height: 1.5rem;
}

.features-para{
  color: #8f8f8f;
  padding-left: 75px;
  padding-right: 75px;
}

.features-box{
  margin: 25px 0;
}

/* Testimonials section */

#testimonials{
    padding-top: 500px;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  padding: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px

}

/*Pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.Chihuahua-card{
  color: #303030;
}

.pricing-col{
  padding: 3% 2%;
}

/* Call to Action */

#cta{
  background-color: #ff4c68;
  text-align: center;

  padding: 10% 2%;
}

.cta-h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  color: white;

  padding-left: 200px;
  padding-right: 200px;

}
.cta-button{
margin-top: 25px;
margin-bottom: 25px;
}

.cta-button-2{
  color: 	#303030;
}

#footer{
  text-align: center;
  color: grey;
  background-color: white;
}

.socials{
  color: #303030;
  padding: 50px 10px;
}

.socials:hover{
  color: #101010;
}

.footer-p{
  height: 10px;
  padding-bottom: 15px;
}

/******************* MAKING THE WEBSITE MORE RESPONSIVE *******************/
@media (max-width: 1028px) {

#title{
  text-align: center;
}

.title-image{
  position: static;
  transform: rotate(0);
  padding-top: 10%;
  text-align: center;
  margin-left: 0;
}

#testimonials{
margin-top: 1100px;
padding-top: 50px;
}

}

/* FOR MOBILE */

@media (max-width: 375px) {

#title{
  position: static;
}

#features{
  position: static;

}

.features-row
  {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}


#pricing{
    padding-left: 0;
    padding-right: 0;
    margin-left: 25px;
    margin-right: 25px;
}

.heading-1 {
    font-size: 2.5rem;
  }

#testimonials{
  margin-top: 0;
}

.carousel-h2 {
font-size: 2rem;
}

.testimonial-image{
  width: 25%;
}
em{
  font-size: 15px;
}

.press-logo{
  width: 25%;
}

}
